.rag-loader {
  display: inline-flex;
  gap: 5px;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
}

.rag-letter {
  animation: rag-bounce 0.6s infinite alternate;
}

.rag-letter:nth-child(2) {
  animation-delay: 0.2s;
}

.rag-letter:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes rag-bounce {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-5px);
  }
}